{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{% static 'collab/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">Estadísticas</div>
        <div>
            <a href="{% url 'collab:salas' %}">Salas</a>
            <a href="#">Participantes</a>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h3>Salas</h3>
            <p>{{nRooms}}</p>
        </div>
        <div class="box">
            <h3>Estudiantes</h3>
            <p>{{nUsers}}</p>
        </div>
        <div class="box">
            <h3>Logs</h3>
            <p>{{nLogs}}</p>
        </div>
    </div>
</body>
</html>
